*{
  background-color: black;
  color: white
}
.nav-bar{
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 10px;
}
.user-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
.red{
  background-color:red;
}
.gray{
  background-color:gray;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.catalog-movie{
  height: 100px;
  width: 100px;
}
.user-box{
  justify-content: center;
  align-content: center;
  height: 100px;
  border-radius: 20px;
  display: grid;
}
.logo{
  text-align: right;
  color: red;
  font-weight: bold;
}
.main-links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}

.catalog-results{
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.movie-box{
  position: relative;
  width: 100px;
  height: 100px;
}

.button{
  position: absolute;
right:0px;
background-color: transparent;
}
